<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

	<Product Name='Solumns' Id='0cc370ae-402a-4670-b5b0-b44d0b13f067'
		UpgradeCode='0cc370ae-402a-4670-b5b0-b44d0b13f067'
		Language='1033' Codepage='1252' Version='0.1.0' Manufacturer='killersmurf.com'>

		<Package Id='*' Keywords='Installer' Description="Solumns Installer"
			Comments='Copyright 2011 John Morrice' Manufacturer='killersmurf.com'
			InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

		<Media Id='1' Cabinet='Solumns.cab' EmbedCab='yes' />

		<Directory Id='TARGETDIR' Name='SourceDir'>

			<Directory Id='ProgramFilesFolder' Name='PFiles'>

				<Directory Id='killersmurf' Name='killersmurf'>

					<Directory Id='INSTALLDIR' Name='Solumns'>

						<Component Id='MainExecutable' Guid='a2ce6b96-eead-4862-a937-2ada2e33a459'>

							<File Id='SolumnsEXE' Name='solumns.exe' DiskId='1'
								Source='solumns.exe' KeyPath='yes'>

								<Shortcut Id="startmenuSolumns001" Directory="ProgramMenuDir"
									Name="Solumns" Icon="solumns.exe" IconIndex="0" Advertise="yes"
								       WorkingDirectory='INSTALLDIR'	/>

								<Shortcut Id="desktopSolumns001" Directory="DesktopFolder"
									Name="Solumns" Icon="solumns.exe" IconIndex="0" Advertise="yes"
									WorkingDirectory='INSTALLDIR' />
							</File>
						</Component>


						<Directory Id="data" Name="data">

							<Component Id='MainSolumnsLogo' Guid='636dd2dd-12f3-4867-9ed7-a54212827607'>

								<File Id='SolumnsLogo' Name='logo.png' DiskId='1'
									Source='data\logo.png' KeyPath='yes'>
								</File>

							</Component>

							<Component Id='FrameIcon' Guid='d7c38451-823c-47b1-ae1d-ac2e10eda048'>

								<File Id='SolumnsFrameIcon' Name='solumns-frame-icon.png' DiskId='1'
									Source='data\solumns-frame-icon.png' KeyPath='yes'>
								</File>

							</Component>

						</Directory>

						<Directory Id="lib" Name="lib">

							<Component Id="EliminationLib" Guid='2596393e-60ff-4bba-ae61-1b77f8fc7c63'>

								<File Id="EliminationDLL" Name="elimination.dll" DiskId='1'
									Source="lib\elimination.dll" KeyPath="yes">
								</File>

							</Component>

							<Component Id='IConv' Guid='f87e6c76-f981-48f2-8c53-3ed868ff5ede'>

								<File Id='IConvDLL' Name='iconv.dll' DiskId='1'
									Source='lib\iconv.dll' KeyPath='yes'>
								</File>

							</Component>

							<Component Id='GracketGC' Guid='a96b375c-2e4a-4396-a57a-4592bb69bcdd'>

								<File Id='GracketGCDLL' Name='libgracket3m_89os0g.dll' DiskId='1'
									Source='lib\libgracket3m_89os0g.dll' KeyPath='yes'>
								</File>
							</Component>

							<Component Id='RacketGC' Guid='ebd5803c-2418-4f5d-89cb-3b32f8033822'>

								<File Id='RacketGCDLL' Name='libracket3m_89os0g.dll' DiskId='1'
									Source='lib\libracket3m_89os0g.dll' KeyPath='yes'>
								</File>
							</Component>

							<Component Id='UnicoWS' Guid='7ee812e8-298c-4d23-8c59-2e3e035b2d89'>

								<File Id='UnicoWSDLL' Name='UnicoWS.dll' DiskId='1'
									Source='lib\UnicoWS.dll' KeyPath='yes'>
								</File>

							</Component>

							<Directory Id="plt" Name="plt">
								<Directory Id="solumnsplt" Name="solumns">
									<Directory Id="collects" Name="collects">
									</Directory>
									<Directory Id="exts" Name="exts">
									</Directory>
								</Directory>
							</Directory>

						</Directory>

					</Directory>

				</Directory>

			</Directory>

			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="ProgramMenuDir" Name="Solumns">
					<Component Id="ProgramMenuDir" Guid="b244f253-b1ba-4b21-b041-32afab5f668f">
						<RemoveFolder Id='ProgramMenuDir' On='uninstall' />
						<RegistryValue Root='HKCU' Key='Software\Killersmurf\Solumns001' Type='string'
							Value='' KeyPath='yes' />
					</Component>
				</Directory>
			</Directory>

			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>

		<Feature Id='Complete' Level='1'>
			<ComponentRef Id='MainExecutable' />
			<ComponentRef Id='MainSolumnsLogo' />
			<ComponentRef Id='ProgramMenuDir' />
			<ComponentRef Id='IConv' />
			<ComponentRef Id='GracketGC' />
			<ComponentRef Id='RacketGC' />
			<ComponentRef Id='UnicoWS' />
			<ComponentRef Id='EliminationLib' />
			<ComponentRef Id='FrameIcon' />
		</Feature>

		<Property Id="WIXUI_INSTALLDIR" Value='INSTALLDIR'>
		</Property>

		<UI>
			<UIRef Id="WixUI_InstallDir" />
		</UI>

		<WixVariable Id="WixUILicenseRtf" Value="Copying.rtf" />

		<Icon Id="solumns.exe" SourceFile="solumns.exe" />

	</Product>
</Wix>








